# Puerto del servidor
PORT=3000

# JWT
JWT_SECRET=tu_secreto_jwt_aqui
JWT_EXPIRES_IN=4h

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=control_gastos
DB_USER=postgres
DB_PASSWORD=postgres

# Nombre EXACTO del servicio de Windows (ver services.msc), solo para Windows.
# Se usa para arrancar PostgreSQL automáticamente al correr "pnpm dev".
PG_SERVICE_NAME=postgresql-x64-16
GOOGLE_CLIENT_ID=pega_aqui_tu_client_id.apps.googleusercontent.com